.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    padding: 24px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-top: 56px;
      padding: 16px;
    }
  }